* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Moontime';
  src: url('fonts/Moontime.ttf') format('truetype');
}

@font-face {
  font-family: 'Apricots';
  src: url('fonts/Apricots.otf') format('opentype');
}

@font-face {
  font-family: 'Britanny';
  src: url('fonts/BrittanySignature.ttf') format('truetype');
}

html {
  font-size: 16px;
}
  
body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  background-color: #27445C;
  
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}

.topImage {
  background-image: url(./images/raw/IMG_6894-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 206px;
  height: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 5px auto 70px auto;
  border-radius: 10px;
  width: 95%;
  flex-grow: 0;
  flex-shrink: 0;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.circleImageContainer {
  border-radius: 75px;
  width: 150px;
  height: 150px;
  background-color: #c2e0f4;
  position: relative;
  top: 90px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  border: 3px solid #7f7f7f;
}

.circleImage {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  border-radius: 75px;
}

.tabsContainer {
  background-color: transparent;
  height: auto;
  width: 95%;
  flex-grow: 1;
  margin: 0 auto 10px auto;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.navItem {
  display: flex;
  width: 19.3%;
  height: 55px;
  background-color: white;
  border-radius: 10px 10px 0 0;
  justify-content: center;
  align-items: center;
  position: relative;
}

.selected {
  opacity: 0;
}

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
  border-radius: 10px 10px 0 0;
}

.overlayContent {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.navIcons{
  width: 40px;
  margin: 0 auto 0 auto;
}

.navButton {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
  z-index: 1;
  
}

.mainContentContainer {
  flex-grow: 1;
  background-color: white;
  height: auto;
  margin: 0;
  border-radius: 0 10px 10px 10px;
  position: relative;
  z-index: 2;
  text-align: center;
}

.contentContainer {
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.weddingContentText, .messageContentText {
  font-family: 'Montserrat', sans-serif;
  margin: 10px auto;
  text-align: center;
  width: 90%;

}

.contentTitle {
  font-family: 'Britanny', sans-serif;
  font-size: 2em;
  color: #27445C;
  margin-bottom: 20px;
  margin-top: 15px;
}

.behindContentContainer {
  height: 200px;
  width: 100%;
  background-color: white;
  margin: 0;
  position: absolute;
  top: 55px;
  z-index:1;
}

.behindContent {
  background-color: white;
}

.rsvpContent {
  border-radius: 0 10px 10px 10px;
}
.snapshotsContent, .locationContent, .faqContent {
  border-radius: 10px;
}

.messageContent {
  border-radius: 10px 0 10px 10px;
}

.content{
  margin: 10px;
}

.rsvpForm, .messageForm{
  width: 100%;
  height: 70%;
  overflow-x: hidden;
}

.highlightText {
  font-family: 'Montserrat', sans-serif;
  color: #36A6CE;
  margin-top: 10px;
  margin-bottom: 10px;
}

.highlightTextCountdown {
  font-family: 'Britanny', sans-serif;
  color: #27445C;
  margin:0px;
  font-size: 2.73em;
}


.contentText{
  color: black;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.rsvpContent {
  margin: 0;
  width: 100%;
  height: 100%;
}

.countDown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.countDownContainer {
  display: flex;
  font-size: 2em;
  font-family: 'Roboto Slab', serif;
  margin: 0
}

.countDownTime {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countDownText {
  margin: 5px;
  width: 10px;
}

.countDownNumber {
  font-family: 'Lora', sans-serif;
  margin: 5px;
  width: 55px;
  margin-bottom: 0px;
}
.countDownLabel {
  color: #27445C;
  font-size: 0.4em;
  margin: 0px;
}

.dateText {
  font-family: 'Playfair Display', serif;
  margin-top: 5px;
  margin-bottom: 10px;
}

.location {
  width: 90%;
  height: 50%;
}

.locationLogo {
  width: 30%;
}

.venueContainer {
  display: flex;
  width: 90%;
  justify-content: space-between;
  gap: 10px;
  font-family: 'Montserrat';
  margin-bottom: 20px;
}


.faqContent, .locationContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  
}

.faqCardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  overflow-y: auto;
  height: 50vh;
}

.faqCards {
  margin-bottom: 30px;
}

.faqTitleContainer {
  display: flex;
  justify-content: space-between;
  width: 85vw;
  background-color: #27445C;
  color: white;
  border-radius: 10px;
}

.faqCardTitle {
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

.faqTextContainer {
  border: 1px solid #27445C;
  display: none;
  border-radius: 0 0 10px 10px;
  background-color: #ccdce7;
  display: none;
  width: 85vw;
}

.faqHeading {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  margin: 10px;
}

.faqText {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 90%;
  margin-top: 0px;
}

.faqCollapseButton {
  all: unset;
  margin-right: 10px;
}

.colorpalette {
  width: 80%;
  border: 2px solid white;
  margin: 5px 0 5px 0;
}

.collapseIcon {
  flex-grow: 0;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}

.faqTitleContainerNoRadiusBottom {
  border-radius: 10px 10px 0 0;
}

.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.programImage {
  max-width: 100%;
  display: block;
  border-radius: 10px;
}

.programImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 0%,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 1) 20%
  ),
  linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 1) 20%
  ),
  linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 1) 20%
  ),
  linear-gradient(
    to left,
    transparent 0%,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 1) 20%
  );
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: -1;
}

.blueText {
  color: #27445C;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.textBox {
  width: 85%;
  border-radius: 5px;
  padding: 10px;
  height: 150px;
  font-family: 'Montserrat', sans-serif;
}

.sendButton {
  width: 75px;
  height: 40px;
  font-size: 1.1em;
  font-family: 'Montserrat';
  font-weight: bold;
  background-color: #27445C;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  outline: inherit;
}

.wrapper{
  width:100%;
  text-align:center;
}

.carouselImage {
  width: 100px;
  height: auto;
  margin: 0;
}

.carousel{
  width:90%;
  margin:0px auto;
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
  border: 2px solid #fff;
}
.wrapper .slick-dots li button:before {
  font-size:20px;
  color:black;
}