* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
  
body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  background-color: #27445C;
  
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}

.topImage {
  background-color: #CECECE;
  height: 15%;
  position: relative;
  margin: 0 auto 90px auto;
  width: 95%;
  
}

.circleImage {
  border-radius: 75px;
  width: 150px;
  height: 150px;
  background-color: #53BCE9;
  position: absolute;
  bottom: -75px;
  left: 50%;
  transform: translateX(-50%);
}

.tabsContainer {
  background-color: transparent;
  height: auto;
  width: 95%;
  flex-grow: 1;
  margin: 0 auto 10px auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.navItem {
  display: flex;
  width: 19.3%;
  height: 55px;
  background-color: white;
  border-radius: 10px 10px 0 0;
  justify-content: center;
  align-items: center;
  position: relative;
}

.selected {
  opacity: 0;
}

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
  border-radius: 10px 10px 0 0;
}

.overlayContent {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.navIcons{
  width: 40px;
  margin: 0 auto 0 auto;
}

.navButton {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
  z-index: 1;
  
}

.contentContainer {
  flex-grow: 1;
  background-color: white;
  height: auto;
  margin: 0;
  border-radius: 0 10px 10px 10px;
  position: relative;
  z-index: 2;
}

.behindContentContainer {
  height: 200px;
  width: 100%;
  background-color: white;
  margin: 0;
  position: absolute;
  top: 55px;
  z-index:1;
}

.behindContent {
  background-color: white;
}

.rsvpContent {
  border-radius: 0 10px 10px 10px;
}
.snapshotsContent, .locationContent, .faqContent {
  border-radius: 10px;
}

.messageContent {
  border-radius: 10px 0 10px 10px;
}

.content{
  margin: 10px;
}

.rsvpForm{
  width: 100%;
  align-self: center;
}

.highlightText {
  font-family: 'Montserrat', sans-serif;
  color: #36A6CE;
  margin-top: 10px;
  margin-bottom: 10px;
}

.highlightTextCountdown {
  font-family: 'Montserrat', sans-serif;
  color: #36A6CE;
  margin:0px;
}


.contentText{
  color: black;
  margin-top: 5px;
  margin-bottom: 10px;
}

.countDown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.countDownContainer {
  display: flex;
  font-size: 2em;
  font-family: 'Roboto Slab', serif;
  margin: 0
}

.countDownTime {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countDownText {
  margin: 5px;
  width: 10px;
}

.countDownNumber {
  margin: 5px;
  width: 55px;
  margin-bottom: 0px;
}
.countDownLabel {
  color: #27445C;
  font-size: 0.4em;
  margin: 0px;
}

.dateText {
  font-family: 'Roboto', serif;
  margin-top: 5px;
  margin-bottom: 10px;
}